<div class="login-card">
  <h2 class = "center btm-margin">Forgot you password?</h2>
  
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>
  
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, placeholder: "john.doe@example.com" %>
    </div>
  
    <div class="actions">
      <%= f.submit "send me reset password instructions", class: "login login-submit"%>
    </div>
    
  <% end %>
  <div class="login-help">
    <a href="/users/sign_up">Sign Up</a> • <a href="/users/sign_in">Log In</a>
  </div>
</div>

