<p id="notice"><%= notice %></p>

<p>
  <strong>Form:</strong>
  <%= @form_attachment.form_id %>
</p>

<p>
  <strong>File:</strong>
  <%= @form_attachment.file %>
</p>

<%= link_to 'Edit', edit_form_attachment_path(@form_attachment) %> |
<%= link_to 'Back', form_attachments_path %>
