<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
  <h3> </h3>
<% end %>

<div class="login-card">
  <h2 class = "center btm-margin">Log In</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
    <div class="field">
    <%= f.email_field :email, autofocus: true, placeholder: 'Email' %>
    </div>
    <div class="field">
    <%= f.password_field :password, autocomplete: "off", placeholder: 'Password'%>
    </div>
    <div class="actions">
      <div class="center margin remember_me">
        <% if devise_mapping.rememberable? %>
          <%= f.check_box :remember_me %> <%= f.label :remember_me %>
        <% end %>
      </div>

      <%= f.submit "Log In", class: "login login-submit" %>
    </div>
  <% end %>

  <div class="login-help">
    <a href="/users/sign_up">Sign Up</a> • <a href="/users/password/new">Forgot Password</a>
  </div>
  <p class = "small_box center"> Please contact Orinda Police Department if you have trouble signing in. </p>
</div>