%h1 Edit Autism Alert Form

= form_tag form_path(@form), :method => :put do

  = label :form, :name, "Individuals Name"
  = text_field :form, "name", placeholder: "required", required: true

  = label :form, :birth_date, "Date of Birth"
  = date_select :form, "birth_date", :start_year => 1900, :end_year => 2016, required: true

  // = label :form, :photo_path, 'Photo of the Individual'
  // = text_field :form, "photo_path", placeholder: "UNDER DEVELOPMENT"
  
  = label :form, :address, 'Address'
  = text_field :form, "address"
  
  = label :form, :live_alone, 'Lives Alone'
  = check_box :form, "live_alone"

  = label :form, :nickname, 'Preferred Name, Nickname'
  = text_field :form, "nickname"
  
  = label :form, :sex, 'Male'
  = radio_button :form, "sex", "male"
  
  = label :form, :sex, 'Female'
  = radio_button :form, "sex", "female"
  
  = label :form, :height, 'Height'
  = text_field :form, "height"
  
  = label :form, :weight, 'Weight'
  = text_field :form, "weight"

  = label :form, :color_eye, 'Eye Color'
  = text_field :form, "color_eye"
  
  = label :form, :color_hair, 'Hair Color'
  = text_field :form, "color_hair"
  
  = label :form, :body_marks, 'Scars, Tattoos, or Other Identifying Marks'
  = text_area :form, "body_marks", size: "60x4"
  
  = label :form, :other_medical_conds, 'Other Reverent Medical Conditions'
  = text_area :form, "other_medical_conds", size: "60x4"

  = label :form, :meds_needed, 'Prescription Medicines Needed'
  = text_area :form, "meds_needed", size: "60x4"
  
  = label :form, :sensory_dietary_issues, 'Sensory or Dietary Issues'
  = text_area :form, "sensory_dietary_issues", size: "60x4"
  
  = label :form, :calming_methods, 'Calming Methods'
  = text_area :form, "calming_methods", size: "60x4"
  
  = label :form, :info_other_first_resp, 'Any Other Information First Responders May Need'
  = text_area :form, "info_other_first_resp", size:"60x4"
  
  = label :form, :phone_number, "Individuals Cell Phone Number"
  = text_field :form, "phone_number"
  
  = label :form, :phone_company, 'Individuals Cell Phone Provider Company'
  = text_field :form, "phone_company"
  
  = label :form, :ec1_name, 'Name of Emergency Contact'
  = text_field :form, "ec1_name"
  
  = label :form, :ec1_address, 'Emergency Contacts Address'
  = text_field :form, "ec1_address"
  
  = label :form, :ec1_phone_home, 'Emergency Contacts Home Phone'
  = text_field :form, "ec1_phone_home"
  
  = label :form, :ec1_phone_work, 'Emergency Contacts Work Phone'
  = text_field :form, "ec1_phone_work"
  
  = label :form, :ec1_phone_cell, 'Emergency Contacts Cell Phone'
  = text_field :form, "ec1_phone_cell"
  
  = label :form, :ec2_name, 'Name of Alternative Emergency Contact'
  = text_field :form, "ec2_name"
  
  = label :form, :ec2_address, 'Alternative Emergency Contacts Address'
  = text_field :form, "ec2_address"
  
  = label :form, :ec2_phone_home, 'Alternative Emergency Contacts Home Phone'
  = text_field :form, "ec2_phone_home"
  
  = label :form, :ec2_phone_work, 'Alternative Emergency Contacts Work Phone'
  = text_field :form, "ec2_phone_work"
  
  = label :form, :ec2_phone_cell, 'Alternative Emergency Contacts Cell Phone'
  = text_field :form, "ec2_phone_cell"

  = label :form, :preferred_language, 'Individuals Preferred Spoken Language'
  = text_field :form, "preferred_language"

  = label :form, :attractions_locations, 'Nearby water sources & favorite attractions or locations where the individual may be found'
  = text_area :form, "attractions_locations", size: "60x4"

  = label :form, :atypical_behaviors, 'Atypical behaviors or characteristics of the individual that may affect the attention of responders'
  = text_area :form, "atypical_behaviors", size: "60x4"
  
  = label :form, :favorite_topics, 'Individuals favorite toys, objects, music, discussion topics, likes, and dislikes'
  = text_area :form, "favorite_topics", size: "60x4"

  = label :form, :communication_method_1, 'Method of Preferred Communication'
  = text_area :form, "communication_method_1", size: "60x4"

  = label :form, :communication_method_2, 'Method of Preferred Communication II'
  = text_area :form, "communication_method_2", size: "60x4"
  
  = label :form, :info_id, 'Individuals Identification Information'
  = text_area :form, "info_id", size: "60x4"
  
  = label :form, :info_tracking, 'Individuals Tracking Information'
  = text_area :form, "info_tracking", size: "60x4"
  
  = label :form, :attachment, 'Attachments (Photo, etc.)'
  = file_field :form, "attachment", :multiple => true, :accept => "image/png,image/gif,image/jpeg,application/pdf", :name => "form_attachments[attachment][]"
  
  = label :form, :terms_of_service, "Disclaimer: All information provided is voluntary. Checking this box indicates that you agree to share your information."
  = check_box :form, "terms_of_service", required: true
  
  %h3 
  
  = submit_tag 'Update Form', :onclick => "validateName()"
  = link_to  "Cancel" , form_path, method: :get

:javascript
  function validateName() {
    if (String(document.getElementById("form_name").value) == "" ) {
      alert("Please provide the individual's name.");
      return false;
    }
    if (!document.getElementById('form_terms_of_service').checked) {
      alert("Please agree to the disclaimer.");
      return false;
    }
  }