%h1 Edit At Risk Form

= form_tag form_path(@form), :method => :put do

  = hidden_field :form, "form_type", value: "AtRisk"

  = label :form, :name, "Individuals Name*(required)"
  = text_field :form, "name", placeholder: "required", required: true

  = label :form, :birth_date, "Date of Birth*(required)"
  = date_select :form, "birth_date", placeholder: "required", required: true

  = label :form, :photo_path, 'Photo of the Individual*(required)'
  = text_field :form, "photo_path", placeholder: "required", required: true
  
  = label :form, :has_alzheimers, "This person has Alzheimer"
  = check_box :form, "has_alzheimers"
  
  = label :form, :has_dementia, "This person has Dementia"
  = check_box :form, "has_dementia"
  
  = label :form, :has_down_syndrome, "This person has Down Syndrome"
  = check_box :form, "has_down_syndrome"
  
  = label :form, :has_other_disorders, "This person has Other Related Disorder"
  = text_field :form, "has_other_disorders"
  
  = label :form, :address, 'Address'
  = text_field :form, "address"
  
  = label :form, :live_alone, 'Lives Alone'
  = check_box :form, "live_alone"
  
  = label :form, :nickname, 'Preferred Name, Nickname'
  = text_field :form, "nickname"
  
  = label :form, :sex, 'Male'
  = radio_button :form, "sex", "male"
  
  = label :form, :sex, 'Female'
  = radio_button :form, "sex", "female"
  
  = label :form, :height, 'Height'
  = text_field :form, "height"
  
  = label :form, :weight, 'Weight'
  = text_field :form, "weight"

  = label :form, :color_eye, 'Eye Color'
  = text_field :form, "color_eye"
  
  = label :form, :color_hair, 'Hair Color'
  = text_field :form, "color_hair"
  
  = label :form, :body_marks, 'Scars, Tattoos, or Other Identifying Marks'
  = text_field :form, "body_marks"
  
  = label :form, :other_medical_conds, 'Other Reverent Medical Conditions'
  = text_field :form, "other_medical_conds"

  = label :form, :meds_needed, 'Prescription Medicines Needed'
  = text_field :form, "meds_needed"
  
  = label :form, :phone_number, "Individuals Cell Phone Number"
  = number_field :form, "phone_number"
  
  = label :form, :phone_company, 'Individuals Cell Phone Provider Company'
  = text_field :form, "phone_company"
  
  = label :form, :ec1_name, 'Name of Emergency Contact'
  = text_field :form, "ec1_name"
  
  = label :form, :ec1_address, 'Emergency Contacts Address'
  = text_field :form, "ec1_address"
  
  = label :form, :ec1_phone_home, 'Emergency Contacts Home Phone'
  = number_field :form, "ec1_phone_home"
  
  = label :form, :ec1_phone_work, 'Emergency Contacts Work Phone'
  = number_field :form, "ec1_phone_work"
  
  = label :form, :ec1_phone_cell, 'Emergency Contacts Cell Phone'
  = number_field :form, "ec1_phone_cell"
  
  = label :form, :ec2_name, 'Name of Alternative Emergency Contact'
  = text_field :form, "ec2_name"
  
  = label :form, :ec2_address, 'Alternative Emergency Contacts Address'
  = text_field :form, "ec2_address"
  
  = label :form, :ec2_phone_home, 'Alternative Emergency Contacts Home Phone'
  = number_field :form, "ec2_phone_home"
  
  = label :form, :ec2_phone_work, 'Alternative Emergency Contacts Work Phone'
  = number_field :form, "ec2_phone_work"
  
  = label :form, :ec2_phone_cell, 'Alternative Emergency Contacts Cell Phone'
  = number_field :form, "ec2_phone_cell"
  
  = label :form, :preferred_language, 'Individuals Preferred Spoken Language'
  = text_field :form, "preferred_language"
  
  = label :form, :info_id, 'Individuals Identification Information'
  = text_field :form, "info_id"
  
  = label :form, :info_tracking, 'Individuals Tracking Information'
  = text_field :form, "info_tracking"
  
  %h3 
  
  = submit_tag 'Update Form'
  = submit_tag "Cancel"
