%h2 ATRISK Form Details for #{@form.name}

%h3 General Information
%ul#general
  %li
    <b>Name:&nbsp</b>
    = @form.name
  %li
    <b>Nickname:&nbsp</b>
    = @form.nickname
  %li
    <b>Sex:&nbsp</b>
    = @form.sex
  %li
    <b>Birthday:&nbsp</b>
    = @form.birth_date
  %li
    <b>Photo Path in system (to be implemented):&nbsp</b>
    = @form.photo_path
  %li
    <b>Address:&nbsp</b>
    = @form.address
  %li
    <b>Individual Lives Alone?:&nbsp</b>
    = @form.live_alone
  %li
    <b>Height:&nbsp</b>
    = @form.height
  %li
    <b>Weight:&nbsp</b>
    = @form.weight
  %li
    <b>Eye Color:&nbsp</b>
    = @form.color_eye
  %li
    <b>Hair Color:&nbsp</b>
    = @form.color_hair
  %li
    <b>Body Marks:&nbsp</b>
    = @form.body_marks
  %li
    <b>Phone Number:&nbsp</b>
    = @form.phone_number
  %li
    <b>Phone Provider:&nbsp</b>
    = @form.phone_company
    
%h3 Medical Information
%ul#medical
  %li
    <b>Individual Has Alzheimer's?:&nbsp</b>
    = @form.has_alzheimers
  %li
    <b>Individual Has Dementia?:&nbsp</b>
    = @form.has_dementia
  %li
    <b>Individual Has Down Syndrome?:&nbsp</b>
    = @form.has_down_syndrome
  %li
    <b>Individual Has Other Related Disorders?:&nbsp</b>
    = @form.has_other_disorders
  %li
    <b>Specification of Other Related Disorders:&nbsp</b>
    = @form.other_disorders
  %li
    <b>Other Medical Conditions:&nbsp</b>
    = @form.other_medical_conds
  %li
    <b>Medications Needed:&nbsp</b>
    = @form.meds_needed

%h3 Emergency Contact Information
%ul#emergency_contact
  %li
    <b>First Emergency Contact:&nbsp</b>
    = @form.ec1_name
  %li
    <b>Address:&nbsp</b>
    = @form.ec1_address
  %li
    <b>Home Phone:&nbsp</b>
    = @form.ec1_phone_home
  %li
    <b>Work Phone:&nbsp</b>
    = @form.ec1_phone_work
  %li
    <b>Cell Phone:&nbsp</b>
    = @form.ec1_phone_cell
  %li
    <b>Second Emergency Contact:&nbsp</b>
    = @form.ec2_name
  %li
    <b>Address:&nbsp</b>
    = @form.ec2_address
  %li
    <b>Home Phone:&nbsp</b>
    = @form.ec2_phone_home
  %li
    <b>Work Phone:&nbsp</b>
    = @form.ec2_phone_work
  %li
    <b>Cell Phone:&nbsp</b>
    = @form.ec2_phone_cell

%h3 Other Information
%ul#other
  %li
    <b>Preferred Language:&nbsp</b>
    = @form.preferred_language
  %li
    <b>Identification Information:&nbsp</b>
    = @form.info_id
  %li
    <b>Tracking Information:&nbsp</b>
    = @form.info_tracking

%h3 Meta Information
%ul#meta
  %li
    <b>This form is active in the record:&nbsp</b>
    = @form.form_activeness
  %li
    <b>This from is created at:&nbsp</b>
    = @form.created_at
  %li
    <b>This form is updated at:&nbsp</b>
    = @form.updated_at

= link_to 'Edit Form', edit_form_path(@form)
= link_to 'Delete Form', @rule, method: :delete, data: { confirm: 'Are you sure you want to delete this At Risk form?' }
= link_to 'Back to Dashboard', forms_path
= button_tag 'Print This Page', :onclick => "print_page()"

= link_to 'Download As Pdf', generate_pdf_path(@form, format: :pdf)


%h3 Meta Information
%a{:download => "Current Page", :href => "Current_Page.pdf"} Click here to Download

%a{:href => "//pdfcrowd.com/url_to_pdf/"} Save to PDF

:javascript
  function print_page() {
    window.print();
  }