%h2 My Forms

%table#forms
  %thead
    %tr
      %th name
      %th date of birth
      %th type
  %tbody
    - @my_forms.each do |form|
      %tr
        %td= link_to form.name, form_path(form)
        %td= form.birth_date
        %td= form.form_type
%br
%h2 Create Forms

%h4 For elders with disorders like Alzheimer's:
= link_to 'New At-Risk Form', new_form_path(:form_type => "AtRisk")

%h4 For children with autism:
= link_to 'New Autism Alert Form', new_form_path(:form_type => "Autism")

= javascript_tag "jsFunction()"
