%h2 My Forms

= form_tag forms_path, :method => :get, :id => "type_form" do
  Include:
  - ["Autism", "AtRisk"].each do |type|
    = type
    = check_box_tag "type[#{type}]", 1, ((@selected_types.nil? or @selected_types.include?(type))? true : false), :id => "type_#{type}"
  = submit_tag 'Refresh', :id => "type_submit"


%table#forms
  %thead
    %tr
      %th{:class => @name_header}= link_to 'Name', forms_path(:order => 'name', :types => @selected_types), :id => 'name_header'
      <!-- %th name -->
      <!-- %th date of birth -->
      %th{:class => @birth_date_header}= link_to 'Birth Date', forms_path(:order => 'birth_date', :types => @selected_types), :id => 'birth_date_header'
      %th type
  %tbody
    - @my_forms.each do |form|
      %tr
        %td= link_to form.name, form_path(form)
        %td= form.birth_date
        %td= form.form_type
%br
%h2 Create Forms

%h4 For elders with disorders like Alzheimer's:
= link_to 'New At-Risk Form', new_form_path(:form_type => "AtRisk")

%h4 For children with autism:
= link_to 'New Autism Alert Form', new_form_path(:form_type => "Autism")
