- if current_user.admin
  %h1 Admin Dashboard
  %p Viewing all forms in database
  %p Total Forms: #{Form.count('id')}
  %p Total Users: #{User.count('id')}
  = link_to 'Manage Users', 'users'
- else
  %h1 User Dashboard
  %p You may create, view, or edit your forms here

%hr
%h2 Create Forms

%p For elders with disorders like Alzheimer's:
= link_to 'New At-Risk Form', new_form_path(:form_type => "AtRisk")

%p For children with autism:
= link_to 'New Autism Alert Form', new_form_path(:form_type => "Autism")

%hr
%h2 View Forms

= form_tag forms_path, :method => :get, :id => "types_form" do
  = hidden_field_tag "name_sort", true if @name_header
  = hidden_field_tag "birth_date_sort", true if @birth_date_header
  Show forms for:
  - @all_types.each do |type|
    = type
    = check_box_tag "types[#{type}]", 1, @selected_types.include?(type), :id => "types_#{type}"
  = submit_tag "Reload", :id => "types_submit"
  
= form_tag forms_path, :method => "get", :id => "search_form" do
  = text_field_tag :search, params[:search], placeholder: "Search by names"
  = submit_tag "Search", :id => "search_submit"

%h3 #{@search_active_msg}

- content_for :admin_table do
  %p Note: when user deletes one form, the form is not removed from database but the user will no longer see it. You may go to the form details page by clicking the form name and perform hard deletion.
  %table#forms
    %thead
      %tr
        %th Form ID
        %th{:class => @name_header}= link_to 'Name', forms_path(:order => 'name', :types => @selected_types), :id => 'name_header'
        %th{:class => @birth_date_header}= link_to 'Birth Date', forms_path(:order => 'birth_date', :types => @selected_types), :id => 'birth_date_header'
        %th Sex
        %th Form Type
        %th User ID
        %th Visible To The Owner?
        %th{:class => @created_at_header}= link_to 'Created At', forms_path(:order => 'created_at', :types => @selected_types), :id => 'created_at_header'
        %th{:class => @updated_at_header}= link_to 'Updated At', forms_path(:order => 'updated_at', :types => @selected_types), :id => 'updated_at_header'
    %tbody
      - @my_forms.each do |form|
        %tr
          %td= form.id
          %td= link_to form.name, form_path(form)
          %td= form.birth_date
          %td= form.sex
          %td= form.form_type
          %td= form.id_user
          %td= form.form_activeness
          %td= convert_time(form.created_at)
          %td= convert_time(form.updated_at)

- content_for :user_table do
  %table#forms
    %thead
      %tr
        %th{:class => @name_header}= link_to 'Name', forms_path(:order => 'name', :types => @selected_types), :id => 'name_header'
        %th{:class => @birth_date_header}= link_to 'Birth Date', forms_path(:order => 'birth_date', :types => @selected_types), :id => 'birth_date_header'
        %th Sex
        %th Form Type
    %tbody
      - @my_forms.each do |form|
        %tr
          %td= link_to form.name, form_path(form)
          %td= form.birth_date
          %td= form.sex
          %td= form.form_type
  
- if current_user.admin
  = content_for :admin_table
- else
  = content_for :user_table



