%h2 Form Details for #{@form.form_type}: #{@form.name}

%h3 General Information
%ul#general
  %li
    Form Type:
    = @form.form_type
  %li
    Name:
    = @form.name
  %li
    Nickname:
    = @form.nickname
  %li
    Sex:
    = @form.sex
  %li
    Birthday:
    = @form.birth_date
  %li
    Photo Path:
    = @form.photo_path
  %li
    Address:
    = @form.address
  %li
    Individual Lives Alone?:
    = @form.live_alone
  %li
    Height:
    = @form.height
  %li
    Weight:
    = @form.weight
  %li
    Eye Color:
    = @form.color_eye
  %li
    Hair Color:
    = @form.color_hair
  %li
    Body Marks:
    = @form.body_marks
  %li
    Phone Number:
    = @form.phone_number
  %li
    Phone Provider:
    = @form.phone_company
    
%h3 Medical Information
%ul#medical
  %li
    Individual Has Alzheimer's?:
    = @form.has_alzheimers
  %li
    Individual Has Dementia?:
    = @form.has_dementia
  %li
    Individual Has Down Syndrome?:
    = @form.has_down_syndrome
  %li
    Individual Has Other Related Disorders?:
    = @form.has_other_disorders
  %li
    Specification of Other Related Disorders:
    = @form.other_disorders
  %li
    Other Medical Conditions:
    = @form.other_medical_conds
  %li
    Medications Needed:
    = @form.meds_needed

%h3 Emergency Contact Information
%ul#emergency_contact
  %li
    First Emergency Contact:
    = @form.ec1_name
  %li
    Address:
    = @form.ec1_address
  %li
    Home Phone:
    = @form.ec1_phone_home
  %li
    Work Phone:
    = @form.ec1_phone_work
  %li
    Cell Phone:
    = @form.ec1_phone_cell
  %li
    Second Emergency Contact:
    = @form.ec2_name
  %li
    Address:
    = @form.ec2_address
  %li
    Home Phone:
    = @form.ec2_phone_home
  %li
    Work Phone:
    = @form.ec2_phone_work
  %li
    Cell Phone:
    = @form.ec2_phone_cell

%h3 Other Information
%ul#other
  %li
    Preferred Language:
    = @form.preferred_language
  %li
    Identification Information:
    = @form.info_id
  %li
    Tracking Information:
    = @form.info_tracking

%h3 Autism Form Information
%ul#autism
  %li
    Sensory Dietary Issues:
    = @form.sensory_dietary_issues
  %li
    Calming Methods:
    = @form.calming_methods
  %li
    First Responders' Notes:
    = @form.info_other_first_resp
  %li
    Attractions and Special Locations:
    = @form.attractions_locations
  %li
    Atypical Behaviors:
    = @form.atypical_behaviors
  %li
    Favorite Topics:
    = @form.favorite_topics
  %li
    First Calming Method:
    = @form.communication_method_1
  %li
    Second Calming Method:
    = @form.communication_method_2

%h3 Meta Information
%ul#meta
  %li
    This form is available to the user:
    = @form.form_activeness
  %li
    This from is created at:
    = @form.created_at
  %li
    This form is updated at:
    = @form.updated_at

= link_to 'Edit Form', edit_form_path(@form)
= link_to 'Delete Form', @rule, method: :delete, data: { confirm: 'Are you sure you want to delete this form?' }
= link_to 'Back to Dashboard', forms_path
