%h2 AUTISM ALERT Form Details for #{@form.name}
- if current_user.admin
  - if !@form.form_activeness
    %p This form is deleted by the owner/admin and will only be visible to admin. You may:
    = link_to 'Make this form visible to the owner', revive_path(@form), data: { confirm: 'Are you sure you want to make this form visible to the owner?' }
    %br
  - else
    You may set the form invisible to the owner using the "Delete Form" link on the bottom of the page, or
  = link_to 'Permanently remove this from from the database', hard_delete_path(@form), data: { confirm: 'Are you sure you want to PERMANENTLY delete this form?' }
%hr

%h3 General Information
%ul#general
  %li
    <b>Name:&nbsp</b>
    = @form.name
  %li
    <b>Nickname:&nbsp</b>
    = @form.nickname
  %li
    <b>Sex:&nbsp</b>
    = @form.sex
  %li
    <b>Birthday:&nbsp</b>
    = @form.birth_date
  %li
    <b>Photo Path in system (to be implemented):&nbsp</b>
    = @form.photo_path
  %li
    <b>Address:&nbsp</b>
    = @form.address
  %li
    <b>Individual Lives Alone?:&nbsp</b>
    = @form.live_alone
  %li
    <b>Height:&nbsp</b>
    = @form.height
  %li
    <b>Weight:&nbsp</b>
    = @form.weight
  %li
    <b>Eye Color:&nbsp</b>
    = @form.color_eye
  %li
    <b>Hair Color:&nbsp</b>
    = @form.color_hair
  %li
    <b>Body Marks:&nbsp</b>
    = @form.body_marks
  %li
    <b>Phone Number:&nbsp</b>
    = @form.phone_number
  %li
    <b>Phone Provider:&nbsp</b>
    = @form.phone_company
    
%h3 First Responder's Information
%ul#autism
  %li
    <b>Sensory Dietary Issues:&nbsp</b>
    = @form.sensory_dietary_issues
  %li
    <b>Calming Methods:&nbsp</b>
    = @form.calming_methods
  %li
    <b>First Responders' Notes:&nbsp</b>
    = @form.info_other_first_resp
  %li
    <b>Attractions and Special Locations:&nbsp</b>
    = @form.attractions_locations
  %li
    <b>Atypical Behaviors:&nbsp</b>
    = @form.atypical_behaviors
  %li
    <b>Favorite Topics:&nbsp</b>
    = @form.favorite_topics
  %li
    <b>First Calming Method:&nbsp</b>
    = @form.communication_method_1
  %li
    <b>Second Calming Method:&nbsp</b>
    = @form.communication_method_2
  %li
    <b>Other Medical Conditions:&nbsp</b>
    = @form.other_medical_conds
  %li
    <b>Medications Needed:&nbsp</b>
    = @form.meds_needed

%h3 Emergency Contact Information
%ul#emergency_contact
  %li
    <b>First Emergency Contact:&nbsp</b>
    = @form.ec1_name
  %li
    <b>Address:&nbsp</b>
    = @form.ec1_address
  %li
    <b>Home Phone:&nbsp</b>
    = @form.ec1_phone_home
  %li
    <b>Work Phone:&nbsp</b>
    = @form.ec1_phone_work
  %li
    <b>Cell Phone:&nbsp</b>
    = @form.ec1_phone_cell
  %li
    <b>Second Emergency Contact:&nbsp</b>
    = @form.ec2_name
  %li
    <b>Address:&nbsp</b>
    = @form.ec2_address
  %li
    <b>Home Phone:&nbsp</b>
    = @form.ec2_phone_home
  %li
    <b>Work Phone:&nbsp</b>
    = @form.ec2_phone_work
  %li
    <b>Cell Phone:&nbsp</b>
    = @form.ec2_phone_cell

%h3 Other Information
%ul#other
  %li
    <b>Preferred Language:&nbsp</b>
    = @form.preferred_language
  %li
    <b>Identification Information:&nbsp</b>
    = @form.info_id
  %li
    <b>Tracking Information:&nbsp</b>
    = @form.info_tracking

%h3 Meta Information
%ul#meta
  %li
    <b>This form is active in the record:&nbsp</b>
    = @form.form_activeness
  %li
    <b>This from is created at:&nbsp</b>
    = convert_time(@form.created_at)
  %li
    <b>This form is updated at:&nbsp</b>
    = convert_time(@form.updated_at)

%hr
= link_to 'Edit Form', edit_form_path(@form)
= link_to 'Delete Form', @rule, method: :delete, data: { confirm: 'Are you sure you want to delete this Autism Alert form?' }
= link_to "Download As PDF", { :action => "show", :format => :pdf }
= link_to 'Back to Dashboard', forms_path