<p id="notice"><%= notice %></p>

<p>
  <strong>Attachment:</strong>
  <%= @test_attachment.attachment %>
  <%= image_tag @test_attachment.attachment.url %>
</p>

<%= link_to 'Edit', edit_test_attachment_path(@test_attachment) %> |
<%= link_to 'Back', test_attachments_path %>
