!!!
%html
  %head
    %title AtRisk | Orinda PD
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body{:class => "validate-form"}
    = render 'devise/sessions/loginstat'
    - if flash[:notice]
      #notice.message= flash[:notice]
    - elsif flash[:warning]
      #warning.message= flash[:warning]
    %h1.title At Risk | Orinda Police Department
    #main
      = yield